{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->
{% include 'main/ajax/portfolio-ajax-project-dark-1.html' %}
<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<div id="content" role="main"> 
    
  <!-- Intro
  ============================================= -->
  <section id="home">
    <div class="hero-wrap">
      {% for intro in intros %}
      <div class="hero-mask opacity-8 bg-dark"></div>
      <div class="hero-bg parallax" style="background-image:url({% static 'images/intro-bg.jpg' %});"></div>
      <div class="hero-content section d-flex fullscreen">
        <div class="container my-auto">
          <div class="row">
            <div class="col-12 text-center">
              <div class="typed-strings">
                <p><span>I'm</span> {{intro.title}}</p>
                <p>I'm a {{intro.intro1}}</p>
                <p>I'm a {{intro.intro2}}</p>
                <p>I'm a {{intro.intro3}}</p>
              </div>
              
              <p class="text-7 fw-500 text-white mb-2 mb-md-3">{{intro.greet}}</p>
              <h2 class="text-16 fw-600 text-white mb-2 mb-md-3"><span class="typed"></span></h2>
              <p class="text-5 text-light mb-4">{{intro.address}}</p>
              <a href="#contact" class="btn btn-outline-primary rounded-pill shadow-none smooth-scroll mt-2">Get in Touch</a>
            </div>
          
          </div>
        </div>
        <a href="#about" class="scroll-down-arrow text-white smooth-scroll"><span class="animated"><i class="fa fa-chevron-down"></i></span></a> </div>
      {%  endfor %}
    </div>
  </section>
  <!-- Intro end --> 
  
  <!-- About
  ============================================= -->
  <section id="about" class="section bg-dark-1">
    <div class="container px-lg-5"> 
      <!-- Heading -->
      <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0">About Me</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">Know Me More<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
      </div>
      <!-- Heading end-->
      
      <div class="row gy-5">
        {% for about in abouts %}
        <div class="col-lg-7 col-xl-8 text-center text-lg-start">
          <h2 class="text-7 text-white fw-600 mb-3">I'm <span class="text-primary">{{about.name}},</span> a {{about.title}}</h2>
          <p class="text-white-50">{{about.description|safe}}</p>
        
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="ps-lg-4">
            <ul class="list-style-2 list-style-light text-light">
              <li><span class="fw-600 me-2">Name:</span>{{about.name}}</li>
              <li><span class="fw-600 me-2">Email:</span><a href="mailto:{{about.email}}">{{about.email}}</a></li>
              <!-- <li><span class="fw-600 me-2">Age:</span>28</li> -->
              <li class="border-0"><span class="fw-600 me-2">From:</span>{{about.address}}</li>
            </ul>
            <a href="{{about.cv.url}}" class="btn btn-primary rounded-pill">Download CV</a> </div>
        </div>
      </div>
      <div class="brands-grid separator-border separator-border-light mt-5">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="featured-box text-center">
              <h4 class="text-12 text-white-50 mb-0"><span class="counter" data-from="0" data-to="3">3</span>+</h4>
              <p class="text-light mb-0">Years Experiance</p>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="featured-box text-center">
              <h4 class="text-12 text-white-50 mb-0"><span class="counter" data-from="0" data-to="10">10</span>+</h4>
              <p class="text-light mb-0">Happy Clients</p>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="featured-box text-center">
              <h4 class="text-12 text-white-50 mb-0"><span class="counter" data-from="0" data-to="15">15</span>+</h4>
              <p class="text-light mb-0">Projects Done</p>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="featured-box text-center">
              <h4 class="text-12 text-white-50 mb-0"><span class="counter" data-from="0" data-to="7">7</span></h4>
              <p class="text-light mb-0">Cert</p>
            </div>
          </div>
        </div>
      {%  endfor %}
      </div>
    </div>
  </section>
  <!-- About end --> 
  
  <!-- Services
  ============================================= -->
  <section id="services" class="section bg-dark-2">
    <div class="container px-lg-5"> 
      <!-- Heading -->
      <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-white-50 opacity-1 text-uppercase fw-600 w-100 mb-0">Services</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">What I Do?<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
      </div>
      <!-- Heading end-->
      
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="row">
            {% for service in services %}
            <div class="col-md-6">
              <div class="featured-box style-3 mb-5">
                <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> <i class="fas fa-circle"></i></div>
                <h3 class="text-white">{{service.title}}</h3>
                <p class="text-white-50 mb-0">{{service.desc|safe}}</p>
              </div>
            </div>
            {%  endfor %}    
          </div>
        </div>
      </div>
     
    </div>
  </section>
  <!-- Services end --> 
  
  <!-- Resume
  ============================================= -->
  <section id="resume" class="section bg-dark-1">
    <div class="container px-lg-5"> 
      <!-- Heading -->
      <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0">Summary</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">Resume<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
      </div>
      <!-- Heading end-->
      
      <div class="row gx-5"> 
        <!-- My Education -->
        <h2 class="text-6 text-white fw-600 mb-4">My Education</h2>
        <div class="col-md-6">
          {% for education in educations %}
          <div class="bg-dark rounded p-4 mb-4">
            <p class="badge bg-danger text-2 fw-400">{{education.date}}</p>
            <h3 class="text-5 text-white">{{education.course}}</h3>
            <p class="text-primary">{{education.institution}}</p>
            <p class="text-white-50 mb-0">{{education.description|safe}}</p>
          </div>
          {%  endfor %} 
        </div>
        
        <!-- My Experience -->
        <div class="col-md-6">
          <h2 class="text-6 text-white fw-600 mb-4">My Experience</h2>
          {% for experience in experiences %}
          <div class="bg-dark rounded p-4 mb-4">
            <p class="badge bg-danger text-2 fw-400">{{experience.date}}</p>
            <h3 class="text-5 text-white">{{experience.title}}</h3>
            <p class="text-primary">{{experience.organisation}}</p>
            <p class="text-white-50 mb-0">{{experience.description|safe}}</p>
          </div>
          {%  endfor %}
        </div>
      </div>

      <!-- My Skills -->
      <h2 class="text-6 text-white fw-600 mt-4 mb-4">My Skills</h2>
      <div class="row gx-5">
        {% for skill in skills %}
        <div class="col-md-6">
          <p class="text-light fw-500 text-start mb-2">{{skill.name}}<span class="float-end">{{skill.score}}%</span></p>
          <div class="progress progress-sm bg-dark mb-4">
            <div class="progress-bar" role="progressbar" style="width: {{skill.score}}%" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        {%  endfor %}
      </div>
    </div>
  </section>
  <!-- Resume end --> 
  
 <!-- Portfolio
    ============================================= -->
    <section id="portfolio" class="section bg-dark-2">
      <div class="container px-lg-5"> 
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
          <h2 class="text-24 text-white-50 opacity-1 text-uppercase fw-600 w-100 mb-0">Portfolio</h2>
          <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">My Work<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
        </div>
        <!-- Heading end--> 
        
            <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          {% for portfolio in portfolios%}
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{portfolio.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{portfolio.image.url}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{portfolio.title}}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{portfolio.category}}</span> / <span class="w-date">{{portfolio.date}}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="bi bi-box-arrow-in-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->
  
  <!-- Testimonial
  ============================================= -->
  <section id="testimonial" class="section bg-dark-1">
    <div class="container px-lg-5"> 
      <!-- Heading -->
      <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0">Testimonial</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">Client Speak<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
      </div>
      <!-- Heading end-->
      
      <div class="owl-carousel owl-light owl-theme" data-loop="true" data-nav="false" data-autoplay="false" data-margin="25" data-stagepadding="0" data-slideby="1" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2">
        {% for testimonial in testimonials %}
        {% if testimonial.is_active %}
        <div class="item">
          <div class="bg-dark rounded p-5">
            <!-- Picture size such be 65 x 65 px -->
            <div class="d-flex align-items-center mt-auto mb-4"> <img class="img-fluid rounded-circle d-inline-block w-auto" src="{{testimonial.thumbnail.url}}" alt="">
              <p class="ms-3 mb-0"><strong class="d-block text-white fw-600">{{testimonial.name}}</strong> <span class="text-white-50 fw-500">{{testimonial.role}}</span></p>
            </div>
            <p class="text-light mb-4">{{testimonial.quote}}</p>
            <span class="text-2"> <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i> </span> </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Testimonial end --> 

  
  <!-- Contact Me
    ============================================= -->
    <section id="contact" class="section bg-dark-2">
      <div class="container px-lg-5">
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
          <h2 class="text-24 text-white-50 opacity-1 text-uppercase fw-600 w-100 mb-0">Contact</h2>
          <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0">Get in Touch<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
        </div>
        <!-- Heading end-->
        <div class="row gy-5">
          <div class="col-md-4 col-xl-3 order-1 order-md-0 text-center text-md-start">
            {% for contactinfo in contactinfos %}
            <h2 class="mb-3 text-5 text-white text-uppercase">Address</h2>
            <p class="text-3 text-light mb-4"><span>{{contactinfo.address}}</span></p>
            <p class="text-3 text-light mb-1"><span class="text-primary text-4 me-2"><i class="fas fa-phone"></i></span>{{contactinfo.phone}}</p>
            <p class="text-3 text-light mb-1"><span class="text-primary text-4 me-2"><i class="fas fa-fax"></i></span>{{contactinfo.tel}}</p>
            <p class="text-3 text-light mb-4"><span class="text-primary text-4 me-2"><i class="fas fa-envelope"></i></span>{{contactinfo.email}}</p>
            <h2 class="mb-3 text-5 text-white text-uppercase">Follow Me</h2>
            <ul class="social-icons social-icons-muted justify-content-center justify-content-md-start">
              <li class="social-icons-dribbble"><a data-bs-toggle="tooltip" href="{{contactinfo.dribbble}}" target="_blank" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
              <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="{{contactinfo.twitter}}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="social-icons-linkedin"><a data-bs-toggle="tooltip" href="{{contactinfo.linkedin}}" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
              <li class="social-icons-instagram"><a data-bs-toggle="tooltip" href="{{contactinfo.instagram}}" target="_blank" title="Google"><i class="fab fa-instagram"></i></a></li>
              <li class="social-icons-github"><a data-bs-toggle="tooltip" href="{{contactinfo.github}}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
            {% endfor %}
          </div>
          <div class="col-md-8 col-xl-9 order-0 order-md-1">
            <h2 class="mb-3 text-5 text-white text-uppercase text-center text-md-start">Send us a note</h2>
			    <form id="contact-form" class="form-dark"  method="POST">
            {% csrf_token %}
			    <div class="row g-4">
                <div class="col-xl-6">
                    <input id="name" name="name" {% if form.is_bound %}value="{{ form.name.value }}"{% endif %} type="text" class="form-control" required="" placeholder="Name">
                </div>
                {% for err in form.email.errors %}
                    <small class="text-danger ml-2">{{ err }}</small><br>
                {% endfor %}
                <div class="col-xl-6">
                    <input id="email" name="email" {% if form.is_bound %}value="{{ form.email.value }}"{% endif %} type="email" class="form-control" required="" placeholder="Email">
                </div>
				  <div class="col">
					<textarea id="message" name="message" class="form-control" rows="5" required="" placeholder="Tell us more........">{% if form.is_bound %}{{ form.message.value }}{% endif %}</textarea>
				  </div>
              </div>
              <p class="text-center mt-4 mb-0">
				      <button id="submit-btn" class="btn btn-primary rounded-pill d-inline-flex" type="submit" value="submit">Send Message</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Me end --> 
  
</div>
<!-- Content end --> 

{% endblock %}
<!-- ================================
End Content
================================= -->
